body {
  background-color: rgb(243, 219, 204);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .header,
  .main {
    text-align: center;
    flex-direction: column;
  }
}

.results {
  text-align: center !important;
  margin: 50px;
}
@media only screen and (max-width: 600px) {
  .results {
    margin: 0;
  }
}

.main {
  flex-direction: column;
  display: flex !important;
  align-content: center !important;
}
